@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lexend:wght@100..900&family=Momo+Trust+Display&display=swap");
@import "theme.css";

@custom-variant dark (&:is(.dark *));

:root {
	--font-sans: "Lexend", sans-serif;
	--font-mono: "DM Mono", monospace;
	--font-display: "Momo Trust Display", serif;
}

@theme inline {
	--animate-shine: shine var(--duration) infinite linear;
	@keyframes shine {
		0% {
			background-position: 0% 0%;
		}
		50% {
			background-position: 100% 100%;
		}
		to {
			background-position: 0% 0%;
		}
	}
	--animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
	--animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear
;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
		}
	}
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
		}
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
		}
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
		}
  100% {
    transform: translateZ(0) rotate(360deg);
		}
	}}

html {
	@apply font-sans;
}

@utility font-display {
	font-family: var(--font-display);
}
  ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}